.brand {
    width: 120px;
    margin-left: 60px;
}

.result div {
    padding: 15px;
    border: 2px solid;
    border-radius: 12px;
    margin-bottom: 12px;
    background-color: #c1e2b3;
    word-wrap: break-word;
}

.result div :first-child {
    font-weight: bold;
}

.result div :nth-child(3) {
    font-style: italic;
}

.center-block {
    margin-top: 30px;
    font-size: 13px;
    text-align: center;
}